@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

body {
    --border-color: rgb(255, 255, 255, .2);
    --text-color: #FFF;
    --header-background: inherit;
    --accent: #00125c;
    --scrollbar-thumb-color: rgb(52, 74, 183, 0.3);
    --scrollbar-track-color: rgb(52, 74, 183, 0.3);
    --font-family: Roboto;
    --background: #161923;
    background: var(--background);
    background: -webkit-linear-gradient(19deg, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(19deg, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size: cover;
    background-position: center; 
}
